<meta charset="UTF-8">
<meta name="description" content="<%- description %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<title><%- title %></title>
<meta property="og:title" content="<%- title %>">
<meta property="og:description" content="<%- description %>">
<meta property="og:image" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:locate" content="ja_JP">
<meta property="og:site_name" content="">
<link rel="icon" href="/assets/img/common/favicon.ico">
<link rel="apple-touch-icon" href="/assets/img/common/apple-touch-icon.png">
<link rel="manifest" href="/assets/img/common/manifest.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Maven+Pro:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/styles.css" media="all">
<script defer src="/assets/js/bundle.js"></script>
<%- include('./_gatag') %>